@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: var(--background);
}

html.dark {
  background: #000000;
}

body {
  @apply font-sans antialiased;
  background: var(--background);
  color: var(--foreground);
}

html.dark body {
  background: #000000;
  color: #ededed;
}
